<main class='m-5'>
  <div>
    <h1>{{name}}</h1>
    <p>{{description}}</p>
  </div>
  <hr />

  <div class='card'>
    <div class='my-2 m-3'>

      {{#each buttons}}

        {{#if isStart}}
          <div class='mt-2'>
            <a
              href='{{link}}'
              class='btn btn-outline-warning'
            >{{text}}</a>
          </div>
        {{else}}
          <div class='mt-2'>
            <a
              href='{{link}}'
              class='btn btn-primary'
            >{{text}}</a>
          </div>

        {{/if}}

      {{/each}}

    </div>
  </div>

</main>