<main class='m-5'>

  {{#with navigation}}
    <div class='nav-link'>
      {{#each links}}
        <a href='{{href}}' class='px-3'>{{text}}</a>
      {{/each}}
    </div>
  {{/with}}
  <hr />

  {{#with header}}
    <div class='mb-5'>
      <h1>{{title}}</h1>
    </div>
    <div class=''>
      {{#with button}}
        <button
          class='btn btn-outline-secondary'
        >{{text}}</button>
      {{/with}}
    </div>
    <hr />
  {{/with}}

  <div class='my-5'>
    {{#each goodsBlock}}
      <div class='row mb-3'>
        {{> cartGoodsItem}}
      </div>
    {{/each}}

  </div>
  <hr />
  {{#with total}}
    <div class='mt-5'>
      <div>
        <h3>{{title}}</h3>
      </div>
      <div>
        <h2>{{amount}}</h2>
      </div>
      <div>
        <p>{{delivery}}</p>
      </div>
      <div class='mb-5'>
        {{#each buttons}}
          <div>
            {{#if isSuccess}}
              <button
                class='btn btn-success'
              >{{text}}</button>
            {{/if}}
            <div class='mt-3'>
              {{#if isOutline}}
                <button
                  class='btn btn-outline-success'
                >{{text}}</button>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/with}}
  <hr />

  {{#with goodsOtherBlock}}
    <div>
      <div class='text-center'>
        <h1>{{title}}</h1>
      </div>
      <div class='row'>

        {{#each cards}}
          <div class='card col-4'>
            <div>
              <img
                src='{{image}}'
                alt='photo'
                class='card-img-top'
              />
            </div>
            <div class='card-body'>

              <h5 class='card-title'>{{title}}
                {{#if isHot}}<span
                    class='badge text-bg-warning rounded-pill'
                  >HOT!</span>{{/if}}
                {{#if idNew}}<small
                    class='badge text-bg-success rounded-pill'
                  >Нове!</small>{{/if}}</h5>
              <p class='card-text'>{{description}}</p>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
  {{/with}}
  <hr />

  {{#with subscribe}}
    <div class='my-5'>
      <div class='card text-bg-dark'>
        <div class='card-body'>
          <h2 class='card-title'>{{header}}</h2>
          <p class='card-text'>{{description}}</p>
        </div>
        <div>
          {{#each buttons}}
            <div class='m-3'>
              <a
                href='{{link}}'
                class='btn btn-primary'
              >{{text}}</a>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/with}}
  <hr />

  <div class='nav'>
    {{#each footer}}
      <div class='nav-item col-2'>
        {{#each this}}
          <a
            href='{{link}}'
            class='btn btn-link'
          >{{text}}</a>
        {{/each}}
      </div>
    {{/each}}
  </div>

</main>