<main class='m-5'>

  <div class='row'>
    <hr />
    <div class='nav'>
      {{#with navigation}}
      <div class='col-3 nav-link'>
        {{#each links}}
        <a href='{{href}}' class='nav-item'>
          {{text}}</a>
        {{/each}}

      </div>
      {{/with}}
    </div>
    <hr />
  </div>

  <div class='mt-5'>
    <h1>{{header}}</h1>
  </div>

  <div class='row'>
    <div class='col-8'>
      {{#with contacts_data}}
      <div class='mt-5'>
        <h3>{{title}}</h3>
      </div>
      <div class='row p-2'>
        {{#each buttons}}
        <div class='col-4 mb-3'>
          {{#if isPrimary}}
          <button type='button' class='btn btn-warning'>{{text}}</button>
          {{/if}}
          {{#if isOutline}}
          <button type='button' class='btn btn-outline-warning'>{{text}}</button>
          {{/if}}
        </div>

        {{/each}}
      </div>
      <div class='row'>
        {{#with form}}
        <div>
          {{#with input}}
          <div>
            <div class='row'>
              {{#with surname}}
              <div class='col-6 mt-3'>
                <label class='form-label'>{{label}}</label>
                <input class='form-control form-control-lg' placeholder='{{placeholder}}' />
                <div class='text'>{{caption}}</div>
              </div>
              {{/with}}
              {{#with name}}
              <div class='col-6 mt-3'>
                <label class='form-label'>{{label}}</label>
                <input class='form-control form-control-lg' placeholder='{{placeholder}}' />
                <div class='text'>{{caption}}</div>
              </div>
              {{/with}}
              {{#with phone}}
              <div class='col-6 mt-4'>
                <label class='form-label'>{{label}}</label>
                <input class='form-control form-control-lg' placeholder='{{placeholder}}' />
                <div class='text'>{{caption}}</div>
              </div>
              {{/with}}
              {{#with email}}
              <div class='col-6 mt-4'>
                <label class='form-label'>{{label}}</label>
                <input class='form-control form-control-lg' placeholder='{{placeholder}}' />
                <div class='text'>{{caption}}</div>
              </div>
              {{/with}}
            </div>

          </div>
          {{/with}}
          <hr>
          {{#each switch}}
          <div class="form-check form-switch m-3">
            <label class="form-check-label">{{text}}</label>
            <input type="checkbox" class="form-check-input">
          </div>
          {{/each}}
          <hr>
        </div>
        {{/with}}
      </div>
      {{/with}}

    </div>
    <div class='col-4'>
      <div class='card mb-3'>
        {{#each action_block}}
        <div class='p-2'>
          {{#if isSuccess}}

          <button type='button' class='btn btn-success text-center'>{{text}}</button>
          {{/if}}
          {{#if isDanger}}

          <button type='button' class='btn btn-danger text-center'>{{text}}</button>
          {{/if}}
          {{#if isInfo}}

          <button type='button' class='btn btn-info text-center'>{{text}}</button>
          {{/if}}

        </div>
        {{/each}}
      </div>
      <div class="card">
        {{#with total}}
        <div class="p-2">
          <h3>{{title}}</h3>
        </div>
        <div class="p-2">
          {{#each item_list}}
          <p>{{name}}: {{price}}</p>
          {{/each}}

          <hr>
          {{#each additional_info}}
          <p>{{text}}: {{value}}</p>
          {{/each}}
          <hr>

          {{#with total_price}}
          <p>{{text}}: {{value}}</p>
          {{/with}}
          <hr>

          {{#each button}}
          <div class="mb-2">
            {{#if isPrimary}}
            <button class="btn btn-primary">{{text}}</button>
            {{/if}}
            {{#if isOutline}}
            <button class="btn btn-outline-primary">{{text}}</button>
            {{/if}}
          </div>
          {{/each}}


        </div>
        {{/with}}


      </div>
    </div>
    <div class="row">
      {{#with delivery}}
      <div>
        <h3>{{title}}</h3>
      </div>

      <div class="col-8 card ">
        <div class="row m-2">
          {{#each select}}
          <div class="col-6 mt-3">
            <label class="form-label">{{label}}</label>
            <select class="form-select">
              <option selected>{{placeholder}}</option>
              {{#each options}}
              <option value="{{value}}">{{text}}</option>
              {{/each}}
            </select>
          </div>
          {{/each}}
        </div>
        <div class="form-check mb-3 mt-4 ms-3">
          {{#each delivery_type}}
          <div>
            <label class="form-check-label">{{type}}</label>
            <input type="radio" class="form-check-input">
          </div>
          {{/each}}
        </div>
      </div>

      <div class="col-8 mt-5">
        {{#with payment}}
        <div>
          <h3>{{title}}</h3>
        </div>
        <div>
          {{#each list}}
          <div class="form-check">
            <div>
              <label class="form-check-label">{{type}}</label>
              <input type="radio" class="form-check-input">
              <div class="form-text">{{description}}</div>
            </div>
          </div>
          {{/each}}
        </div>
        <hr>
        {{/with}}


        {{#with contact}}
        <div>
          <h3>{{title}}</h3>
        </div>
        <div class="row m-2">
          {{#with surname}}
          <div class='col-6 mt-3'>
            <label class='form-label'>{{label}}</label>
            <input class='form-control form-control-sm' placeholder='{{placeholder}}' />
            <div class='text'>{{caption}}</div>
          </div>
           {{/with}}
          {{#with name}}
          <div class='col-6 mt-3'>
            <label class='form-label'>{{label}}</label>
            <input class='form-control form-control-sm' placeholder='{{placeholder}}' />
            <div class='text'>{{caption}}</div>
          </div>
           {{/with}}
          {{#with phone}}
          <div class='col-6 mt-4'>
            <label class='form-label'>{{label}}</label>
            <input class='form-control form-control-sm' placeholder='{{placeholder}}' />
            <div class='text'>{{caption}}</div>
          </div>
           {{/with}}
          {{#with email}}
          <div class='col-6 mt-4'>
            <label class='form-label'>{{label}}</label>
            <input class='form-control form-control-sm' placeholder='{{placeholder}}' />
            <div class='text'>{{caption}}</div>
          </div>
           {{/with}}

        </div>
           {{/with}}
        {{#with coment}}
        <div class="mb-2">
          <label class="form-label">{{label}}</label>
          <input class="form-control" placeholder="{{placeholder}}">
        </div>
           {{/with}}
        {{/with}}

        {{#with coupon}}
        <div>
          <h3>{{title}}</h3>
        </div>
        <div >
          {{#with select}}
          {{#with availabel_coupon}}
          <div class="mt-4">
            <label class="form-lable">{{label}}</label>
            <select class="form-select form-select-lg">
              <option selected>{{placeholder}}</option>
              {{#each options}}
              <option value="{{value}}">{{text}}</option>
              {{/each}}
            </select>
          </div>
            {{/with}}
            {{#with friend_coupon}}
          <div class="mt-3">
            <label class="form-lable">{{label}}</label>
            <select class="form-select form-select-sm">
              <option selected>{{placeholder}}</option>
              {{#each options}}
              <option value="{{value}}">{{text}}</option>
              {{/each}}
            </select>
          </div>
            {{/with}}

          {{/with}}

          {{#with add}}
            <div class="mt-3">
              {{#with friend}}
              <div class="form-label">{{label}}</div>
                <input type="text" class="form-control form-control-lg" placeholder="{{placeholder}}" >
                <div class="form-text">{{caption}}</div>
              {{/with}}
            </div>
            <div class="mt-3">
              {{#with colleague}}
              <div class="form-label">{{label}}</div>
                <input type="text" class="form-control form-control-sm" placeholder="{{placeholder}}" >
                <div class="form-text">{{caption}}</div>
              {{/with}}
            </div>
            {{/with}}

        </div>
        {{/with}}
        <hr>  
        
        {{#with quiz}}
        <div>
          <h3>{{title}}</h3>
        </div>
            {{#with preference}}
            <div class="pe-3">
              <p>{{title}}</p>
            </div>
            <div>
              {{#each options}}
              <div class="form-check">
                <label class="form-label">{{this}}</label>
                <input type="checkbox" class="form-check-input">
              </div>
              {{/each}}
            </div>
            {{/with}}

            {{#with your_expirience}}
             <div>
              <label class="form-label">{{label}}</label>
              <input type="text" class="form-control">
             </div>
            {{/with}}

            {{#with purchase_frequency}}
            <div class="mt-2">
              <label class="form-label">{{label}}</label>
              <select class="form-select">
                <option selected>{{placeholder}}</option>
                {{#each options}}
                <option value="{{value}}"> {{text}}</option>
                {{/each}}
              </select>
            </div>
            {{/with}}

            {{#with factors}}
            <div class="mt-3">
              <p>{{title}}</p>
            </div>
            <div class="form-check">
              {{#each options}}
              <div>
                <label class="form-label">{{this}}</label>
                <input type="checkbox" class="form-check-input">
              </div>
              {{/each}}
            </div>
            {{/with}}
        {{/with}}
        <hr>

        <div class="nav">
          {{#each footer}}
          <div class="nav-item col-2">
            {{#each this}}
             <a href="{{link}}" class="nav-link">{{text}}</a>
            {{/each}}
          </div>
           {{/each}}
        </div>
      </div>
    </div>
</main>